<!DOCTYPE html>
<html>
  <head>
      <title></title>
      <!-- angular -->
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>

      <!-- scripts -->
      <script type="text/javascript" src="js/app.js"></script>
      <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
      <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>

      <!-- css -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
      <link rel="stylesheet" href="css/styles.css" />
      <!--google fonts-->

      <!--font awesome-->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  </head>
  <body ng-app="myApp">
    <div class="wrapper">
      <header>
        <div class="title col-lg-6 col-md-3"><a href="/">The Internet of Things</a></div>
        <div class="col-lg-6 col-md-9">
          <span class="navigation"><a href="/">Intro</a></span>
          <span class="navigation"><a href="/examples">Examples</a></span>
          <span class="navigation"><a href="/connected">Well Connected</a></span>
          <span class="navigation"><a href="/global">Growing Globally</a></span>
        </div>
      </header>
      <div class="container">
        <h1>The Internet of Things: Past, Present and Future</h1>
        <!--intro here-->
        <div>
          <p>The internet is progressing past screens and moving into everything else. The Internet of Things is the next big step for our more and more connected world. Now instead of only being able to connect between devices like phones and computers, everything will be connected. From home appliances to sensors measuring crop growth to health monitors inside our bodies, everything is going to communicate with the rest of the system.</p>
        </div>
        <!--history text here-->
        <div>
          <p>So how did we get to this place? The internet started as a way for scientists to share information with each other across connected computers. It was called ARPANET. The next big step came in 1989 when Tim Berners-Lee created the World Wide Web. He then created the first web browser. At first web pages were simple and informational. Overtime they have progressed to be more advanced as the programming languages they are built in have progressed.</p>
          <p>The internet is still based on connected computers as it was at the beginning. How we use this connection is what is changing. What is considered a computer is also changing. With the Internet of Things, computers are moving into everyday items. These computers simple record information and are able to transmit them to the internet.</p>
          <p>Visit the next page for some examples of how this all works today.</p>
        </div>
        <a class="btn pages" href="/examples">Next Page</a>
      </div>
      <div class="space"></div>
    </div>
    <footer>
    <p>Data from <a href="http://www.statista.com/topics/2637/internet-of-things/">Statista</a>.</p>
    </footer>
  </body>
</html>
