<!DOCTYPE html>
<html>
  <head>
      <title></title>
      <!-- angular -->
      <script type="text/javascript" src="js/angular.js"></script>

      <!-- script -->
      <script type="text/javascript" src="js/app.js"></script>

      <!-- css -->
      <link rel="stylesheet" href="css/bootstrap.css" />
      <link rel="stylesheet" href="css/styles.css" />
      <!--google fonts-->

      <!--font awesome-->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
      <link href='/css/bootstrap.css' rel='stylesheet' type='text/css'>
      <link href='/css/main.css' rel='stylesheet' type='text/css'>
  </head>
  <body ng-app="myApp">
    <div class="container" ng-controller="NameController as nameCtrl">
    </div>
  </body>
</html>
