@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700);

body {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

a {
  color: #508991;
}

header {
  padding: 15px;
  min-height: 50px;
  background-color: #7A9CC6;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 20px;
}

.navigation, .navigation a, .navigation a:hover {
  text-align: center;
  padding: 10px 10px 0 10px;
  color: #EFEFEF;
}

.title a {
  text-align: left;
  color: #EFEFEF;
}

.pages {
  border: 1px solid #508991;
}

footer {
  margin-top: 20px;
  text-align: center;
  padding: 10px 0 5px 0;
  background-color: #7A9CC6;
  color: #EFEFEF;
}

footer a, footer a:hover {
  color: #EFEFEF;
}
/*examples page styles*/
.examp {
  border-radius: 7px;
  padding: 10px 20px 10px 20px;
  margin: 10px 0 20px 0;
}

.examp a {
  color: #508991;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  color: #EFEFEF;
  background-color: #508991;
  border-radius: 2px;
}

/*connected page styles*/
.connected {
  width: 50%;
  height: 500px;
  position: relative;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

/*global page styles*/
.global {
  width: 50%;
  height: 500px;
  position: relative;
}

.bar {
  fill: #508991;
}

.bar:hover {
  fill: #7A9CC6;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

html, body {
height: 100%;
}
.wrapper {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -3em;
}
footer, .space {
height: 3em;
}
